<h2>Créer un compte</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :lastname %><br />
  <%= f.text_field :lastname %></div>

  <div><%= f.label :birthdate %><br />
  <%= f.date_field :birthdate %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.submit "OK" %></div>
<% end %>

<%= render "devise/shared/links" %>
