<%= form_for @booking do |f| %>

  <div class="form-group">
    <%= f.label :arrival, 'Arrival', class: "control-label" %>
    <%= f.date_field :arrival, value: Date.today, class: "control-label" %>
  </div>

   <div class="form-group">
    <%= f.label :departure, 'Departure', class: "control-label" %>
    <%= f.date_field :departure, value: :arrival %>
  </div>


  <%= f.submit "Submit", class: "btn btn-primary" %>

<% end %>
