<h2 class="text-center">Edit an acount</h2>

<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2 ">

  <%= form_for current_user, url: profile_path do |f| %>

  <div class="form-group">
    <%= f.label :firstname, 'Firstname', class: "control-label" %><br />
    <%= f.text_field :firstname, class: "form-control", placeholder: "Firstname", autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :lastname, 'Lastname', class: "control-label" %><br/>
    <%= f.text_field :lastname, class: "form-control", placeholder: "Lastname" %>
  </div>

  <div>
    <%= f.label :address %><br/>
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.label :zipcode %><br/>
    <%= f.text_field :zipcode %>
  </div>

  <div><%= f.label :city %><br/>
    <%= f.text_field :city %>
  </div>

  <div class="form-group">
    <%= f.label :birthdate, 'Birthdate', class: "control-label" %><br/>
    <%= f.date_field :birthdate, class: "form-control" %>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary " %>

  <% end %>

</div>
