<%= form_for @item do |f| %>
  <div class="form-group">
    <%= f.label :title, 'Titre', class: "control-label" %>
    <%= f.text_field :title, class: "form-control", placeholder: "Titre" %>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Description', class: "control-label" %>
    <%= f.text_field :description, class: "form-control", placeholder: "Description" %>
  </div>
  <div class="form-group">
    <%= f.label :price, 'Prix', class: "control-label" %>
    <%= f.text_field :price, class: "form-control", placeholder: "Prix" %>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary" %>

<% end %>